.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* border-bottom: black solid 1px; */
}

.container-fluid{
  padding: auto;
}

.navbar {
  padding-top: 40rem;
  padding-bottom: 40rem;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.seccion_bordeada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-section {
  background: url(https://th.bing.com/th/id/OIG2.Dozss5UkVfkxGA0As.Pb?pid=ImgGn);
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}