.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.container-fluid {
  padding: auto;
}

p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", 'Courier New';
  font-size: xxx-large;
}

.gato-portada {
  background: url(../index/portada_paginaweb.jpeg);
  background-size: cover;
  background-position: center; /* Centra la imagen */
  height: 100vh;
  background-attachment: fixed;
}

/* Configuracipn de barra de navegacion y boton */
.navbar {
  padding-top: 40rem;
  padding-bottom: 40rem;
  background: rgba(255, 248, 146, 0.09);
  height: 70px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
}

.contenedor-glass {
  max-width: 600px;
  background: rgba(255, 246, 192, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
  border: 1px solid rgba(255, 246, 192, 1);

}

