.gato-portada{

    background-color: url(https://png.pngtree.com/background/20230615/original/pngtree-wallpaper-of-a-group-of-cats-with-different-eyes-picture-image_3545657.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
  

}